<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-utilities.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.bundle.min.js" type="application/javascript"></script>
</head>

<body>
<div th:insert="~{navigation :: nav}"></div>

<div class="container" style="max-width: 1600px;">
    <div class="row justify-content-center">
        <!-- 左侧问题列表 -->
        <div class="col-lg-9 col-md-10 col-12">
            <div class="card shadow-sm border-0 rounded-3 mb-4" style="background-color: #fff;">
                <div class="card-body">
                    <h2 class="text-center mb-4 text-primary">
                        <span th:text="${sectionName}"></span>
                    </h2>
                    <hr>

                    <!-- 循环显示问题 -->
                    <div th:if="${section == 'questions'}">
                        <div class="row g-0 mb-4" th:each="question : ${pagination.data}" style="border-bottom: 1px solid #e6e6e6;">
                            <div class="col-md-2 d-flex justify-content-center align-items-center">
                                <img th:src="${question.users.getAvatarUrl()}" class="img-fluid"
                                     style="width: 80px; height: 80px; object-fit: cover; border-radius: 8px;">
                            </div>
                            <div class="col-md-10">
                                <h5 class="mt-0" style="font-size: 1.2rem; font-weight: 500;">
                                    <a th:href="@{'/question/' + ${question.getId()}}" th:text="${question.getTitle()}"></a>
                                </h5>
                                <div class="d-flex justify-content-between align-items-center text-muted mt-2" style="font-size: 0.875rem;">
                                    <span>
                                        <i class="bi bi-eye"></i> <span th:text="${question.getViewCount()}"></span> 次浏览
                                        <i class="bi bi-hand-thumbs-up"></i> <span th:text="${question.getLikeCount()}"></span> 个点赞
                                        <i class="bi bi-chat-dots"></i> <span th:text="${question.getCommentCount()}"></span> 个评论
                                    </span>
                                    <span class="text-muted">
                                        发布日期： <span th:text="${#calendars.format(question.getGmtCreate(),'yyyy-MM-dd HH:mm')}"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 通知列表 -->
                    <div th:if="${section == 'replies'}">
                        <div class="row g-0 mb-4" th:each="notification : ${pagination.data}" style="border-bottom: 1px solid #e6e6e6;">
                            <div class="col-md-10">
                                <h5 class="mt-0" style="font-size: 1.2rem; font-weight: 500;">
                                    <a th:href="@{'/notification/' + ${notification.id}}" th:text="${notification.notifierName + ' ' + notification.typeName + ' ' + notification.outerTitle}"></a>
                                </h5>
                                <div class="text-muted mt-2" style="font-size: 0.875rem;">
                                    <span class="text-muted">
                                            <i class="bi bi-clock"></i> <span th:text="${#calendars.format(notification.getGmtCreate(),'yyyy-MM-dd HH:mm')}"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item" th:if="${pagination.showFirst}">
                                <a class="page-link" th:href="@{'/profile/'+${section}(page=${1}) }">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" th:if="${pagination.showPre}">
                                <a class="page-link" th:href="@{'/profile/'+${section}(page=${pagination.getPage() - 1}) }" aria-label="Previous">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>
                            <li class="page-item" th:each="page : ${pagination.pages}" th:class="${pagination.getPage == page ? 'active' : ''}">
                                <a class="page-link" th:href="@{'/profile/'+${section}(page=${page}) }" th:text="${page}" ></a>
                            </li>

                            <li class="page-item" th:if="${pagination.showNext}">
                                <a class="page-link" th:href="@{'/profile/'+${section}(page=${pagination.getPage() + 1}) }">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>
                            <li class="page-item" th:if="${pagination.showEnd}">
                                <a class="page-link" th:href="@{'/profile/'+${section}(page=${pagination.getTotalPage()}) }" aria-label="Previous">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>

                        </ul>
                    </nav>



                </div>
            </div>
        </div>

        <!-- 右侧说明区（占 4/12 屏幕）-->
        <div class="col-lg-3 col-md-2 d-none d-md-block">
            <div class="card shadow-sm mb-4" style="border-radius: .5rem; border: 1px solid #dcdcdc; background-color: #fff;">
                <div class="card-body p-4">
                    <div class="list-group">
                        <a href="/profile/questions" th:class="${section=='questions'} ? 'list-group-item list-group-item-action active' : 'list-group-item list-group-item-action'" >
                            我的问题
                        </a>
                        <a href="/profile/replies" th:class="${section== 'replies'} ? 'list-group-item list-group-item-action active' : 'list-group-item list-group-item-action' ">
                            最新回复
                            <span class="badge text-bg-primary rounded-pill" th:text="${unreadCount}" ></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
